<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.nakula_edu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Wellcome_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PerformaSiswaActivity" />
        <activity android:name=".TagihanPembayaranActivity" />
        <activity android:name=".PresensiSiswaActivity" />
        <activity android:name=".SaranKomunikasiActivity" />
        <activity android:name=".PaketMenuUtama.MenuAktifitasUtama" />
        <activity android:name=".PaketLogin.LoginActivity" />
        <activity android:name=".PaketLogin.RegisterActivity"></activity>
    </application>

</manifest>